<div class="container">
  <div class="row">
    <div class="col-sm-8 blog-main">
      <div class="blog-post">
        <h2 class="blog-post-title">Paul Deschamps</h2>
        <ul id="contact">
          <li><i class="fa fa-2x fa-envelope-o" aria-hidden="true"></i> pdescham49@gmail.com</li>
          <li><i class="fa fa-2x fa-phone" aria-hidden="true"></i>  (613)808-1891</li>
          <li><i class="fa fa-2x fa-file-text-o" aria-hidden="true"></i> <a href="https://www.dropbox.com/s/7xr2hng6ocafy8o/Paul%20Deschamps%20-%20CV%20-%20Aug2016.doc?dl=1">Download CV</a> </li>
        </ul>
      </div>
    </div>
</div>
