
<div class="container">
      <div class="row">
        <div class="col-sm-12 blog-main">
          <div class="blog-post">
            <h2 class="blog-post-title">What is this place?</h2>
            <p>This site exists to showcase some of my web experiments.</p>

            <h2>AngularJs - User management demo application</h2><a href="/user"><div class="launch btn btn-sm btn-primary">Launch Demo - UserManagement</div></a>
            <p>Using <a href="https://angularjs.org/" target="_blank">AngularJs 1.5</a> and <a href="https://angular-ui.github.io/bootstrap/" target="_blank">Bootstrap Directives</a> for angularJs I
            decided to build a fully functional <a href="/user/">UserManagement tool</a> to showcase some of what angularJs has to offer; the functionality includes:
              <ul>
                <li>Edit / Create / Delete </li>
                <li>In-line edit (quickedit)</li>
                <li>Search</li>
                <li>Sort / Filter</li>      
                <li>A CRUD interface</li> 
                <li>Random Test Data injection</li> 
              </ul>
            </p>
          </div><!-- /.blog-post -->

        </div><!-- /.blog-main -->

      </div><!-- /.row -->

    </div>

