
<div class="container">
      <div class="row">
        <div class="col-sm-12 blog-main">
          <div class="blog-post">
            <h2 class="blog-post-title">What is this place?</h2>
            <p>This site exists to showcas some of my web experiemts.</p>

            <h2>AngularJs - User management demo application</h2><a href="/user"><div class="launch btn btn-sm btn-primary">Launch Demo - UserManagement</div></a>
            <p>Using <a href="https://angularjs.org/" target="_blank">AngularJs 1.5</a> and <a href="https://angular-ui.github.io/bootstrap/" target="_blank">Bootstrap Directives</a> for angularJs I
            decided to build a fullly functional <a href="/user/">UserManagement tool</a> to showcase some of what angularJs has to offer; the functionality includes:
              <ul>
                <li>Edit / Create / Delete </li>
                <li>In-line edit (quickedit)</li>
                <li>Search</li>
                <li>Sort / Filter</li>      
                <li>A CRUD interface</li> 
                <li>Random Test Data injection</li> 
              </ul>
            </p>


            <h2>HiveUX - Grid and toolkit  </h2><a href="/hive"><div class="launch btn btn-sm btn-primary">Launch Demo - HiveUx</div></a>
            <p>HiveUx - Is my own expermentation on creating a desktop envoirment in pure CSS / Javascript leveraging as much CSS-3 functionality as possible to minimize the use of javascript.</p>
            <p>Features:</p>
            <ul>
              <li>Responsive Grid - To address any mobile formfactor / orientation I devised a custom CSS framework that is percentage based.</li>
              <li>Javascript Modules - The framework is module-based and each class self registers within the "core" class.; current modules include:
                <ul>
                  <li>hive.js - Core lib</li>
                  <li>event.js - Event model </li>
                  <li>debug.js - Debug management</li>
                  <li>geo.js - GeoLocation lib</li>
                  <li>nav.js - Navigation</li>
                  <li>util.js - Utility class</li>
                  <li>ux.js - UX class - Window management and templating.</li>
                </ul>
              </li>
            </ul>

            

          </div><!-- /.blog-post -->

        </div><!-- /.blog-main -->

      </div><!-- /.row -->

    </div>

